@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #0f0f0f;
    font-family: Roboto, Arial, sans-serif;
    color: #ffffff;
}

#layout {
    display: grid;
    grid-template-areas: 
            "header header"
            "menu contents";
    grid-template-rows: 4rem 1fr;
    grid-template-columns: 5rem 1fr;
}

/* Scroll */
::-webkit-scrollbar {
    width: 15px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
